* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


.comming-soon{
  background-color: rgb(51, 48, 48);
  padding: 40px 0px;
}
  
.container.counter {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.logo{
  padding: 10px 0px;
}

.counter h1{
    font-size: 46px;
    font-weight: 100;
}

.counter p {
    margin: 40px 0 10px 0;
    padding: 0 320px;
    font-size: 22px;
    line-height: 36px;
}
  
.counter h1 {
  font-weight: normal;
}
  
.counter li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 101px;
  height: 150px;
  width: 150px;
  align-items: center;
  margin: 18px;
  color: #fff;
}

.counter li:hover{
  background: #e8643e;
  border: 1px solid #e8643e;
}
  
.counter li span {
  display: block;
  font-size: 4.5rem;
}

.Days-wrapper{
  display: flex;
  justify-content: center;

}

.section-padding{
  padding: 50px 0px;
}

.form-design{
  width: 50%;
}

.subcribe h3 {
  font-size: 46px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
  text-align: center;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.subcribe p {
  margin-top: 13px;
  font-size: 22px;
  color: #888;
  line-height: 36px;
  text-align: center;
  padding-bottom: 27px;
}

.subscribe{
  height: 52px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  border: 0;
  background: #e8643e;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 52px;
  color: #fff;
  border-radius: 4px;
  
}

.img-bg{
  background: url('../images/bg-img.jpg')no-repeat scroll center center / cover;
}

.new-site h3 {
  font-size: 46px;
  font-weight: 100;
  line-height: 50px;
  text-align: center;
  padding-top: 49px;
  color: #fff;
}

.new-site p {
  margin-top: 30px;
  padding: 0px 78px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.about-box-1 .about-box-1-icon {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  padding-top: 28px;
  background: #e8643e;
  border: 1px solid #e8643e;
  font-size: 56px;
  border-radius: 50%;
  padding-left: 35px;
  color: white;
}

.fa-eye{
  top: 0;
  right: 0;
  left:0;
  bottom:0;
  margin: auto;
}

.about-box-1 h4 {
  text-align: center;
  padding: 15px 0px;
  color: #fff;
}

.about-box-1 p {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}







@media all and ( max-width: 991px){
.counter h1 {
  font-size: 41px;
  padding: 7px 0px;
}

.counter p {
  margin: 22px 0 16px 0;
  padding: 0px 246px;
  font-size: 17px;
  line-height: 36px;
}


.subcribe h3 {
  font-size: 38px;
  padding-bottom: 9px;
}

.subcribe p {
  font-size: 19px;
}

}


@media all and ( max-width: 767px){
  .counter h1 {
    font-size: 30px;
    padding: 8px 0px;
    display: block;
    text-align: center;
}

.counter p {
  padding: 0px 15px;
  font-size: 19px;
  display: block;
  text-align: inherit;
}

}

@media all and ( max-width: 767px){

}